body {
    color: #610000;
    font-family : Arial, Helvetica, sans-serif;

}


.black-border {
    border: 5px solid rgb(216, 15, 15);
}

#backgroundAndSetting {
    background-color: rgb(209, 206, 198);
    font-size: xx-large;

}